*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: "Inter Tight", sans-serif;
  padding: 0;
  margin: 0;
}

/* container */

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}

/* header-mobile */
.page-header {
  position: absolute;
  z-index: 1;
  top: 20px;
  width: 100%;
  background-color: transparent;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-menu-wrapper,
.nav-btn {
  display: none;
}
.title-logo {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  height: 32px;
}
.title-logo .icon {
  display: block;
  fill: #fbfbfb;
  width: 168px;
  height: 16px;
}
.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}
.burger-btn .icon {
  display: block;
  stroke: #fbfbfb;
  width: 32px;
  height: 32px;
}
/* header-tablet */
@media screen and (min-width: 768px) {
  .header-menu {
    top: 32px;
  }
  .title-logo {
    height: 40px;
  }
  .title-logo .icon {
    width: 216px;
    height: 20px;
  }
  .burger-btn .icon {
    width: 40px;
    height: 40px;
  }
}
/* header-desctop */
@media screen and (min-width: 1280px) {
  .burger-btn {
    display: none;
  }
  .nav-menu-wrapper {
    display: flex;
    gap: 8px;
  }
  .nav-and-btn {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .nav-menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    border-radius: 12px;
    border: 1px solid #fbfbfb;
    padding: 12px;
    background-color: transparent;
    color: #fbfbfb;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-menu:hover,
  .nav-menu:focus {
    background-color: #d4bfc4;
    color: #7a3145;
    border: none;
  }
  .nav-menu:active {
    background-color: #fbfbfb;
    color: #7a3145;
    border: none;
  }
  .nav-btn {
    display: block;
    min-width: 157px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    background-color: #7a3145;
    padding: 16px 32px;
    text-align: center;
    border-style: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-btn:hover,
  .nav-btn:focus {
    background-color: #d4bfc4;
    color: #7a3145;
  }
  .nav-btn:active {
    background-color: #fbfbfb;
    color: #7a3145;
  }
}
/* mobile-menu */
.mobile-menu {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #576f35;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%);
  transition: transform 500ms ease-in-out;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}
.mobile-menu-container {
  position: relative;
  padding-top: 296px;
  padding-bottom: 52px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
.burger-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 32px;
  height: 32px;
}
.burger-close-btn .icon {
  display: block;
  stroke: #fbfbfb;
  width: 32px;
  height: 32px;
}
.mobile-menu-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: auto;
}
.mobile-menu-nav {
  display: block;
  min-width: 118px;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #fbfbfb;
  text-align: center;
  border: 1px solid #fbfbfb;
  border-radius: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-nav:focus,
.mobile-menu-nav:active {
  background-color: #fbfbfb;
  color: #7a3145;
  border: none;
}
.mobile-menu-btn {
  display: block;
  min-width: 175px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  background-color: #7a3145;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  border-style: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn:focus,
.mobile-menu-btn:active {
  background-color: #fbfbfb;
  color: #7a3145;
}
/* mobile-menu-tablet */
@media screen and (min-width: 768px) {
  .mobile-menu {
    background: linear-gradient(
      to left,
      #576f35 351px,
      rgba(20, 20, 20, 0.4) 5%
    );
  }
  .mobile-menu-container {
    position: absolute;
    padding-top: 100px;
    padding-bottom: 48px;
    padding-left: 97px;
    padding-right: 97px;
    width: 351px;
    right: 0;
    opacity: 1;
  }
  .mobile-menu-nav {
    min-width: 123px;
    font-size: 16px;
    line-height: 125%;
  }
  .mobile-menu-btn {
    min-width: 157px;
  }
}
/* mobile-menu-desctop */
@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}
/* hero-mobile */
.hero {
  position: relative;
  background-color: #576f35;
}

.wrapper-hero {
  padding-top: 100px;
  padding-bottom: 40px;
}

.hero-title {
  font-weight: 600;
  font-size: 52px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  max-width: 335px;
  margin-bottom: 20px;
}
.hero-descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #fbfbfb;
  max-width: 335px;
}
.hero-picture {
  background-image: linear-gradient(#14141433, #14141433),
    url(../images/vegetables_m.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 372px;
}
@media screen and (min-resolution: 192dpi) {
  .solutions {
    background-image: linear-gradient(#14141433, #14141433),
      url(../images/vegetables_m@2x.jpg);
  }
}
/* hero-tablet */
@media screen and (min-width: 768px) {
  .wrapper-hero {
    padding-top: 120px;
    padding-bottom: 52px;
  }
  .hero-title {
    font-size: 76px;
    margin-bottom: 24px;
    max-width: 704px;
  }
  .hero-descr {
    font-size: 16px;
    line-height: 1.25;
    max-width: 704px;
  }
  .hero-picture {
    background-image: linear-gradient(#14141433, #14141433),
      url(../images/vegetables_t.jpg);
    height: 536px;
  }
  @media screen and (min-resolution: 192dpi) {
    .solutions {
      background-image: linear-gradient(#14141433, #14141433),
        url(../images/vegetables_t@2x.jpg);
    }
  }
}
/* hero-desctop */
@media screen and (min-width: 1280px) {
  .hero-wrap {
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
  }
  .wrapper-hero {
    padding-top: 232px;
    padding-right: 36px;
    width: 50%;
  }
  .hero-title {
    max-width: 504px;
    margin-bottom: 128px;
  }
  .hero-descr {
    width: 450px;
  }
  .hero-picture {
    background-image: linear-gradient(#14141433, #14141433),
      url(../images/vegetables_d.jpg);
    height: 796px;
    width: 50%;
  }
  @media screen and (min-resolution: 192dpi) {
    .solutions {
      background-image: linear-gradient(#14141433, #14141433),
        url(../images/vegetables_d@2x.jpg);
    }
  }
}
/* How it works-mobile */
.how-it-works-section {
  background: linear-gradient(to bottom, #7a3145 45.6%, #576f35 0%);
}
.how-it-works-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.how-it-works-picture-wrap {
  padding-top: 40px;
  padding-bottom: 40px;
}
.how-it-works-picture img {
  border-radius: 30px;
  width: 335px;
  height: 432px;
}
.how-it-works-text {
  padding-top: 80px;
  padding-bottom: 40px;
}
.how-it-works-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}
.how-it-works-descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #fbfbfb;
  margin-bottom: 40px;
}
.hw-blush {
  color: #d4bfc4;
}
.how-it-works-steps-all {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.how-it-works-steps {
  display: flex;
  gap: 24px;
  align-items: center;
  border-radius: 15px;
  padding: 12px 24px;
  background: #fbfbfb;
}
.how-it-works-count {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #7a3145;
  border: 5px solid #d4bfc4;
  width: 52px;
  height: 52px;
  flex-shrink: 0;
}
.how-it-works-steps-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #858585;
}
.hw-black {
  font-weight: 700;
  color: #141414;
}
/* How it works-tablet */
@media screen and (min-width: 768px) {
  .how-it-works-section {
    background: linear-gradient(to bottom, #7a3145 53.2%, #576f35 0%);
  }
  .how-it-works-picture-wrap {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .how-it-works-picture img {
    width: 640px;
    height: 640px;
  }
  .how-it-works-text {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 440px;
  }
  .how-it-works-title {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .how-it-works-descr {
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 52px;
  }
  .how-it-works-steps-text {
    font-size: 16px;
    line-height: 125%;
  }
}
/* How it works-desctop */
@media screen and (min-width: 1280px) {
  .how-it-works-section {
    background: linear-gradient(to right, #7a3145 50%, #576f35 50%);
  }
  .how-it-works-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .how-it-works-picture img {
    width: 440px;
    height: 560px;
  }
  .how-it-works-descr {
    margin-bottom: 104px;
  }
}
/* discount-mobile */
.discount {
  background-color: #fbfbfb;
}
.discount-page {
  padding-top: 80px;
  padding-bottom: 80px;
}
.discount-descr {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}
.discount-text {
  background-color: #576f35;
  border-radius: 12px;
  color: #fbfbfb;
  text-align: left;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
/* discount-tablet */
@media screen and (min-width: 768px) {
  .discount-page {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .discount-descr {
    font-size: 64px;
    line-height: 100%;
  }
  .discount-text {
    height: 86px;
    align-items: flex-end;
  }
}
/* discount-desctop */
@media screen and (min-width: 1280px) {
  .discount-descr {
    font-size: 76px;
  }
  .discount-text {
    height: 84px;
    align-items: center;
    max-width: 840px;
  }
}
/* vegetable-mobile */
.vegetable-section {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #7a3145;
}
.vegetable-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 108%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}
.vegetable-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #fbfbfb;
}
.vegetable-wrap-text {
  margin-bottom: 40px;
}
.vegetable-card-conteiner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.vegetable-card {
  background-color: #fbfbfb;
  border-radius: 40px;
  padding: 32px 24px;
}
.vegetable-name {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #7a3145;
  margin-bottom: 12px;
}
.vegetable-price {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #141414;
  margin-bottom: 12px;
}
.vegetable-picture img {
  width: 280px;
  height: 240px;
}
/* vegetable-tablet */
@media screen and (min-width: 768px) {
  .vegetable-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .vegetable-title {
    font-size: 48px;
    line-height: 108%;
    margin-bottom: 24px;
    max-width: 385px;
  }
  .vegetable-text {
    font-size: 16px;
    line-height: 125%;
  }
  .vegetable-wrap-text {
    margin-bottom: 52px;
  }
  .vegetable-card-conteiner {
    column-gap: 24px;
    row-gap: 28px;
  }
  .vegetable-card {
    padding: 32px 30px;
    width: calc((100% - 24px) / 2);
  }
  .vegetable-name {
    font-size: 31px;
  }
  .vegetable-price {
    font-size: 16px;
    line-height: 125%;
  }
}
/* vegetable-desctop */
@media screen and (min-width: 1280px) {
  .vegetable-card {
    padding: 32px;
    width: calc((100% - 48px) / 3);
  }
  .vegetable-picture img {
    width: 280px;
    height: 244px;
  }
}
/* reviews-mobile */
.reviews-section {
  background-color: #fbfbfb;
  padding-top: 80px;
  padding-bottom: 80px;
}
.reviews-section-title {
  margin-bottom: 40px;
}
.reviews-section-title-main {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 20px;
}
.reviews-green {
  color: #576f35;
}
.reviews-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #141414;
  text-align: left;
}
.carousel-container {
  width: 100%; /* Или задайте необходимую ширину */
  overflow: hidden; /* Скрывает элементы, выходящие за пределы контейнера */
  position: relative;
}
.reviews-list {
  display: flex;
  overflow-x: auto; /* Добавьте горизонтальный скролл, если не используете JS */
  scroll-behavior: smooth; /* Плавная прокрутка */
  scroll-snap-type: x mandatory;
  gap: 24px;
}
.reviews-card {
  border: 1px solid #d4bfc4;
  border-radius: 24px;
  padding: 20px 16px;
  margin: 0 auto;
  flex: 0 0 100%; /* Каждый слайд занимает 100% ширины контейнера */
  scroll-snap-align: start;
  width: calc((100% - 48px) / 3);
}
.reviews-photo {
  margin: 0 auto 24px auto;
}
.reviews-card-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #141414;
  margin-bottom: 8px;
}
.reviews-card-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #858585;
}
/* reviews-tablet */
@media screen and (min-width: 768px) {
  .reviews-section {
    background-color: #fbfbfb;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .reviews-section-title {
    max-width: 560px;
    margin-bottom: 52px;
  }
  .reviews-section-title-main {
    font-size: 64px;
    margin-bottom: 24px;
  }
  .reviews-text {
    font-size: 16px;
    line-height: 1.25;
  }
  .reviews-card {
    padding: 20px;
    flex: 0 0 340px; /* Каждый слайд занимает 100% ширины контейнера */
  }
  .reviews-card-text {
    font-size: 16px;
    line-height: 1.25;
  }
}
/* reviews-desctop */
@media screen and (min-width: 1280px) {
  .carousel-container {
    overflow: visible;
  }
}
/* order-mobile */
.order {
  background-color: #576f35;
  padding-top: 80px;
  padding-bottom: 80px;
}
.wrapper-order {
  margin-bottom: 40px;
}
.order-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}
.order-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #fbfbfb;
}
.wrapper-order-two-blocks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper-order-form {
  background-color: #fbfbfb;
  border-radius: 30px;
  padding: 40px 20px;
}
.wrapper-order-form-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  padding-bottom: 40px;
}
.order-chianti {
  color: #7a3145;
}
.order-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form-input,
.form-textarea {
  outline: transparent;
  border: 1px solid #858585;
  background-color: transparent;
  border-radius: 30px;
  padding: 14px 16px;
}
.form-textarea {
  height: 92px;
  resize: none;
}
.order-form input::placeholder,
.order-form textarea::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #141414;
}
.form-input:focus,
.form-input:hover,
.form-textarea:focus,
.form-textarea:hover {
  border-color: #7a3145;
}
.order-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  border-radius: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #7a3145;
  border: none;
}
.wrapper-order-social {
  background-color: #7a3145;
  border-radius: 30px;
  padding: 40px 20px;
}
.wrapper-order-social-picture img {
  border-radius: 15px;
  width: 295px;
  height: 272px;
  margin-bottom: 20px;
}
.wrapper-order-social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  color: #d4bfc4;
  margin-bottom: 16px;
}
.social-list-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.social-list-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  cursor: pointer;
  color: #fbfbfb;
}
/* order-tablet */
@media screen and (min-width: 768px) {
  .order {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .wrapper-order {
    margin-bottom: 52px;
  }
  .order-title {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 24px;
  }
  .order-text {
    font-size: 16px;
    line-height: 1.25;
  }
  .wrapper-order-two-blocks {
    gap: 32px;
  }
  .wrapper-order-form {
    padding: 72px 100px;
  }
  .wrapper-order-form-title {
    font-size: 32px;
    padding-bottom: 52px;
  }
  .form-textarea {
    height: 96px;
  }
  .order-form input::placeholder,
  .order-form textarea::placeholder {
    font-size: 16px;
    line-height: 125%;
  }
  .wrapper-order-social {
    padding: 52px;
  }
  .wrapper-order-social-picture img {
    width: 536px;
    height: 316px;
    margin-bottom: 52px;
  }
  .wrapper-order-social-text {
    font-size: 16px;
    line-height: 125%;
  }
  .social-list-wrap {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
  }
}
/* order-desctop */
@media screen and (min-width: 1280px) {
  .wrapper-order {
    max-width: 770px;
  }
  .wrapper-order-two-blocks {
    flex-direction: row;
  }
  .wrapper-order-form {
    padding: 52px 48px;
    max-width: 524px;
  }
  .wrapper-order-social {
    padding: 52px 48px;
  }
  .wrapper-order-social-picture img {
    width: 428px;
    height: 352px;
    margin-bottom: 80px;
  }
}
/* footer-mobile */
.footer {
  background-color: #7a3145;
  padding-top: 40px;
  padding-bottom: 40px;
}
.wrapper-footer-menu-logo {
  margin-bottom: 40px;
}
.footer-logo {
  display: block;
  background-color: transparent;
  height: 16px;
  margin-bottom: 14px;
}
.footer-logo .icon {
  display: block;
  fill: #fbfbfb;
  width: 168px;
  height: 16px;
}
.footer-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #fbfbfb;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 40px;
}
.footer-menu-link {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}
.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 40px;
}
.contacts-info {
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  color: #fbfbfb;
  font-style: normal;
}
.footer-end {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}
.footer-end-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #d4bfc4;
}
/* footer-tablet */
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .wrapper-footer-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  .wrapper-footer-menu-logo {
    max-width: 265px;
    margin-bottom: 0;
  }
  .footer-text {
    font-size: 16px;
    line-height: 125%;
  }
  .footer-menu {
    gap: 24px;
    margin-bottom: 64px;
  }
  .contacts-info {
    font-size: 16px;
    line-height: 125%;
  }
  .contacts-list {
    gap: 24px;
    margin-bottom: 0;
  }
  .wrapper-footer-end {
    display: flex;
    justify-content: space-between;
  }
  .footer-end {
    margin-bottom: 0;
  }
  .footer-end-text {
    font-size: 16px;
    line-height: 125%;
  }
}
/* footer-desctop */
@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 52px;
    padding-bottom: 52px;
  }
  .wrapper-footer-menu-nav {
    display: flex;
    gap: 120px;
  }
  .footer-menu {
    margin-bottom: 0;
  }
  .wrapper-footer-menu {
    margin-bottom: 124px;
  }
}
