.hidden {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: "Inter Tight", sans-serif;
  padding: 0;
  margin: 0;
}

/* container */

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}

/* header-mobile */
.page-header {
  position: absolute;
  z-index: 1;
  top: 20px;
  width: 100%;
  background-color: transparent;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-menu-wrapper,
.nav-btn {
  display: none;
}
.title-logo {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  height: 32px;
}
.title-logo .icon {
  display: block;
  fill: #fbfbfb;
  width: 168px;
  height: 16px;
}
.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}
.burger-btn .icon {
  display: block;
  stroke: #fbfbfb;
  width: 32px;
  height: 32px;
}
/* header-tablet */
@media screen and (min-width: 768px) {
  .header-menu {
    top: 32px;
  }
  .title-logo {
    height: 40px;
  }
  .title-logo .icon {
    width: 216px;
    height: 20px;
  }
  .burger-btn .icon {
    width: 40px;
    height: 40px;
  }
}
/* header-desctop */
@media screen and (min-width: 1280px) {
  .burger-btn {
    display: none;
  }
  .nav-menu-wrapper {
    display: flex;
    gap: 8px;
  }
  .nav-and-btn {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .nav-menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    border-radius: 12px;
    border: 1px solid #fbfbfb;
    padding: 12px;
    background-color: transparent;
    color: #fbfbfb;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-menu:hover,
  .nav-menu:focus {
    background-color: #d4bfc4;
    color: #7a3145;
    border: none;
  }
  .nav-menu:active {
    background-color: #fbfbfb;
    color: #7a3145;
    border: none;
  }
  .nav-btn {
    display: block;
    min-width: 157px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    background-color: #7a3145;
    padding: 16px 32px;
    text-align: center;
    border-style: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-btn:hover,
  .nav-btn:focus {
    background-color: #d4bfc4;
    color: #7a3145;
  }
  .nav-btn:active {
    background-color: #fbfbfb;
    color: #7a3145;
  }
}
/* hero-mobile */
.hero {
  position: relative;
  background-color: #576f35;
}

.wrapper-hero {
  padding-top: 100px;
  padding-bottom: 40px;
}

.hero-title {
  font-weight: 600;
  font-size: 52px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  max-width: 335px;
  margin-bottom: 20px;
}
.hero-descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #fbfbfb;
  max-width: 335px;
}
.hero-picture {
  background-image: linear-gradient(#14141433, #14141433),
    url(../images/vegetables_m.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 372px;
}
@media screen and (min-resolution: 192dpi) {
  .solutions {
    background-image: linear-gradient(#14141433, #14141433),
      url(../images/vegetables_m@2x.jpg);
  }
}
/* hero-tablet */
@media screen and (min-width: 768px) {
  .wrapper-hero {
    padding-top: 120px;
    padding-bottom: 52px;
  }
  .hero-title {
    font-size: 76px;
    margin-bottom: 24px;
    max-width: 704px;
  }
  .hero-descr {
    font-size: 16px;
    line-height: 1.25;
    max-width: 704px;
  }
  .hero-picture {
    background-image: linear-gradient(#14141433, #14141433),
      url(../images/vegetables_t.jpg);
    height: 536px;
  }
  @media screen and (min-resolution: 192dpi) {
    .solutions {
      background-image: linear-gradient(#14141433, #14141433),
        url(../images/vegetables_t@2x.jpg);
    }
  }
}
/* hero-desctop */
@media screen and (min-width: 1280px) {
  .hero-wrap {
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
  }
  .wrapper-hero {
    padding-top: 232px;
    padding-right: 36px;
    width: 50%;
  }
  .hero-title {
    max-width: 504px;
    margin-bottom: 128px;
  }
  .hero-descr {
    width: 450px;
  }
  .hero-picture {
    background-image: linear-gradient(#14141433, #14141433),
      url(../images/vegetables_d.jpg);
    height: 796px;
    width: 50%;
  }
  @media screen and (min-resolution: 192dpi) {
    .solutions {
      background-image: linear-gradient(#14141433, #14141433),
        url(../images/vegetables_d@2x.jpg);
    }
  }
}
/* How it works-mobile */
.how-it-works-section {
  background: linear-gradient(to bottom, #7a3145 45.6%, #576f35 0%);
}
.how-it-works-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.how-it-works-picture-wrap {
  padding-top: 40px;
  padding-bottom: 40px;
}
.how-it-works-picture img {
  border-radius: 30px;
  width: 335px;
  height: 432px;
}
.how-it-works-text {
  padding-top: 80px;
  padding-bottom: 40px;
}
.how-it-works-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}
.how-it-works-descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #fbfbfb;
  margin-bottom: 40px;
}
.hw-blush {
  color: #d4bfc4;
}
.how-it-works-steps-all {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.how-it-works-steps {
  display: flex;
  gap: 24px;
  align-items: center;
  border-radius: 15px;
  padding: 12px 24px;
  background: #fbfbfb;
}
.how-it-works-count {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #7a3145;
  border: 5px solid #d4bfc4;
  width: 52px;
  height: 52px;
  flex-shrink: 0;
}
.how-it-works-steps-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #858585;
}
.hw-black {
  font-weight: 700;
  color: #141414;
}
/* How it works-tablet */
@media screen and (min-width: 768px) {
  .how-it-works-section {
    background: linear-gradient(to bottom, #7a3145 53.2%, #576f35 0%);
  }
  .how-it-works-picture-wrap {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .how-it-works-picture img {
    width: 640px;
    height: 640px;
  }
  .how-it-works-text {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 440px;
  }
  .how-it-works-title {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .how-it-works-descr {
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 52px;
  }
  .how-it-works-steps-text {
    font-size: 16px;
    line-height: 125%;
  }
}
/* How it works-desctop */
@media screen and (min-width: 1280px) {
  .how-it-works-section {
    background: linear-gradient(to right, #7a3145 50%, #576f35 50%);
  }
  .how-it-works-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .how-it-works-picture img {
    width: 440px;
    height: 560px;
  }
  .how-it-works-descr {
    margin-bottom: 104px;
  }
}
/* discount-mobile */
.discount {
  background-color: #fbfbfb;
}
.discount-page {
  padding-top: 80px;
  padding-bottom: 80px;
}
.discount-descr {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}
.discount-text {
  background-color: #576f35;
  border-radius: 12px;
  color: #fbfbfb;
  text-align: left;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
/* discount-tablet */
@media screen and (min-width: 768px) {
  .discount-page {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .discount-descr {
    font-size: 64px;
    line-height: 100%;
  }
  .discount-text {
    height: 86px;
    align-items: flex-end;
  }
}
/* discount-desctop */
@media screen and (min-width: 1280px) {
  .discount-descr {
    font-size: 76px;
  }
  .discount-text {
    height: 84px;
    align-items: center;
    max-width: 840px;
  }
}
/* vegetable-mobile */
.vegetable-section {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #7a3145;
}
.vegetable-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 108%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}
.vegetable-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #fbfbfb;
}
.vegetable-wrap-text {
  margin-bottom: 40px;
}
.vegetable-card-conteiner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.vegetable-card {
  background-color: #fbfbfb;
  border-radius: 40px;
  padding: 32px 24px;
}
.vegetable-name {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #7a3145;
  margin-bottom: 12px;
}
.vegetable-price {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #141414;
  margin-bottom: 12px;
}
.vegetable-picture img {
  width: 280px;
  height: 240px;
}
/* vegetable-tablet */
@media screen and (min-width: 768px) {
  .vegetable-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .vegetable-title {
    font-size: 48px;
    line-height: 108%;
    margin-bottom: 24px;
    max-width: 385px;
  }
  .vegetable-text {
    font-size: 16px;
    line-height: 125%;
  }
  .vegetable-wrap-text {
    margin-bottom: 52px;
  }
  .vegetable-card-conteiner {
    column-gap: 24px;
    row-gap: 28px;
  }
  .vegetable-card {
    padding: 32px 30px;
    width: calc((100% - 24px) / 2);
  }
  .vegetable-name {
    font-size: 31px;
  }
  .vegetable-price {
    font-size: 16px;
    line-height: 125%;
  }
}
/* vegetable-desctop */
@media screen and (min-width: 1280px) {
  .vegetable-card {
    padding: 32px;
    width: calc((100% - 48px) / 3);
  }
  .vegetable-picture img {
    width: 280px;
    height: 244px;
  }
}
