*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Inter Tight", "Roboto", sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
}
header {
  background-color: #576f35;
}
.hero {
  background-color: #576f35;
}
.how-it-works-section {
  background-color: #576f35;
}
.order {
  background-color: #576f35;
}

footer {
  background-color: #7a3145;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header ul a {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 20px; */
  line-height: 1.25;
  text-align: center;
  color: #fbfbfb;
}
.container {
  width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav-menu {
  border-radius: 12px;
  border: 1px solid #fbfbfb;
  padding: 12px;
}
.nav-btn {
  min-width: 157px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 18px;
  /* line-height: 20px; */
  line-height: 1.11111;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  background-color: #7a3145;
  padding: 12px;
  text-align: center;
  border-style: none;
}
.title-navigation-logo {
  padding-left: 100px;
}
.nav-menu-wrapper {
  display: flex;
  gap: 8px;
  margin-left: 366px;
  margin-right: 20px;
}
.title-navigation {
  display: flex;
  padding-top: 32px;
  align-items: center;
}
.title-logo {
  display: flex;
  gap: 9px;

  justify-content: space-between;
  align-items: center;
  width: 216px;
  height: 20px;
}

.first-part-logo {
  width: 20px;
  height: 20px;
}
.second-part-logo {
  width: 186.67px;
  height: 16.6px;
}
.hero-title {
  font-size: 76px;
  /* line-height: 76px; */
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 128px;
}
.hero-descr {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 20px; */
  line-height: 1.25;
  color: #fbfbfb;
}
.hero-only-text {
  display: block;
  width: 640px;
  padding-left: 100px;
  padding-right: 32px;
}
.thumb {
  display: block;

  width: 640px;
}

.wrapper-hero {
  display: flex;
}
.how-it-works-section h3 {
  font-size: 32px;
  /* line-height: 32px; */
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}
.how-it-works-section p {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 20px; */
  line-height: 1.25;
  color: #fbfbfb;
}
.hw-blush {
  color: #d4bfc4;
}
.how-it-works-section ul p {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 20px; */
  line-height: 1.25;
  color: #858585;
}
.how-it-works-section .hw-black {
  color: #141414;
}

.how-it-works-wrapper {
  display: flex;
}
.how-it-works-img {
  background-color: #7a3145;
  width: 640px;
  padding: 100px;
}
#how-it-works-title {
  margin-bottom: 24px;
}
.how-it-works-descr {
  margin-bottom: 104px;
}
.how-it-works-steps-all {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.how-it-works-steps {
  border-radius: 15px;
  padding: 12px 15px 12px 24px;
  background: #fbfbfb;
  display: flex;
  gap: 24px;
  align-items: center;
}
.how-it-works-count {
  display: block;
  border-radius: 50%;
  background: #7a3145;
  border: 5px solid #d4bfc4;
  width: 52px;
  height: 52px;
}
.how-it-works-steps-text {
  max-width: 325px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.how-it-works-picture {
  border-radius: 30px;
}
.how-it-works-text {
  width: 640px;
  padding: 100px;
}

.discount {
  font-size: 76px;
  /* line-height: 76px; */
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}
.discount-page {
  padding: 100px;
}
.discount .discount-text {
  color: #fbfbfb;
  background-color: #576f35;
}
.vegetable-section {
  background-color: #7a3145;
}
#vegetables {
  font-size: 64px;
  /* line-height: 64px; */
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 24px;
  width: 508px;
}
.vegetable-section .vegetable-text {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 20px; */
  line-height: 1.25;
  color: #fbfbfb;
  width: 626px;
}
.vegetable-section .vegetable-name {
  font-size: 32px;
  /* line-height: 32px; */
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #7a3145;
  margin-bottom: 12px;
}
.vegetable-section .vegetable-price {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 20px; */
  line-height: 1.25;
  color: #141414;
  margin-bottom: 8px;
}
.vegetable-card {
  width: 344px;
  width: calc((100% - 48px) / 3);
  height: 380px;
  background-color: #fbfbfb;
  border-radius: 40px;
  padding: 32px;
}

.vegetable-title {
  padding-top: 100px;
  padding-left: 100px;
  padding-bottom: 52px;
}
.vegetable-card-conteiner {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  align-content: center;
}

.reviews-section h2 {
  font-weight: 600;
  font-size: 64px;
  /* line-height: 64px; */
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}
.reviews-green {
  color: #576f35;
}
.reviews-section .reviews-text {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 20px; */
  line-height: 1.25;
  color: #141414;
  text-align: left;
}
.reviews-section h3 {
  font-weight: 600;
  font-size: 18px;
  /* line-height: 20px; */
  line-height: 1.11111;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #141414;
  margin-bottom: 8px;
}
.reviews-section p {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 20px; */
  line-height: 1.25;
  text-align: center;
  color: #858585;
}
.reviews-section-title {
  padding-top: 100px;
  padding-left: 100px;
  width: 653px;
  padding-bottom: 52px;
}
#reviews {
  margin-bottom: 24px;
}
.reviews-list {
  display: flex;
  padding-left: 100px;
  gap: 24px;
  justify-content: center;
  padding-bottom: 100px;
  padding-right: 100px;
}
.reviews-card {
  box-sizing: border-box;
  border: 1px solid #d4bfc4;
  background: #fbfbfb;
  border-radius: 24px;
  width: 344px;
  height: 248px;
  width: calc((100% - 48px) / 3);
  padding: 20px;
}

.reviews-photo {
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-bottom: 24px;
  justify-content: center;
}

.order h2 {
  font-weight: 600;
  font-size: 64px;
  /* line-height: 64px; */
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 24px;
}
.order p {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 20px; */
  line-height: 1.25;
  color: #fbfbfb;
}
.wrapper-order-form-title {
  font-weight: 600;
  font-size: 32px;
  /* line-height: 32px; */
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  padding: 52px 48px;
}
.order-chianti {
  color: #7a3145;
}
.wrapper-order-social p {
  font-weight: 700;
  font-size: 16px;
  /* line-height: 20px; */
  line-height: 1.25;
  color: #d4bfc4;
}
.wrapper-order-social .social-list a {
  font-weight: 600;
  font-size: 18px;
  /* line-height: 20px; */
  line-height: 1.11111;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.wrapper-order {
  padding: 100px;
}
.wrapper-order-title {
  width: 751px;
  margin-bottom: 52px;
}
.order-btn {
  font-weight: 600;
  font-size: 18px;

  /* line-height: 20px; */
  line-height: 1.11111;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  border-radius: 30px;
  padding: 16px 191px;
  width: 428px;
  height: 52px;
  background: #7a3145;
  border: none;
}
.wrapper-order-two-blocks {
  display: flex;
  gap: 32px;
}
.wrapper-order-form {
  background-color: #fbfbfb;
  border-radius: 30px;
  width: 524px;
}
.wrapper-order-social {
  background-color: #7a3145;
  border-radius: 30px;
  width: 524px;
  padding: 52px 48px;
}
.wrapper-order-social-picture {
  border-radius: 15px;
}

.wrapper-order-social-list {
  margin-top: 80px;
}
.wrapper-order-social-text {
  margin-bottom: 16px;
}
.social-list {
  display: flex;
  gap: 12px;
}
footer .footer-text {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 20px; */
  line-height: 1.25;
  color: #fbfbfb;
  margin-top: 24px;
}
.footer-menu a {
  font-weight: 600;
  font-size: 32px;
  /* line-height: 32px; */
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}
.footer-contacts {
  font-weight: 700;
  font-size: 16px;
  /* line-height: 20px; */
  line-height: 1.25;
  color: #fbfbfb;
  font-style: normal;
  width: 216px;
}
.footer-end {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 20px; */
  line-height: 1.25;
  color: #d4bfc4;
  display: flex;
  gap: 12px;
}
.wrapper-footer-menu {
  display: flex;
  padding: 52px 100px 124px 100px;
}
.wrapper-footer-menu-logo {
  width: 265px;
  margin-right: 250px;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-right: 121px;
}
.wrapper-footer-end {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 52px;
}
